.tabs {
  overflow-x: auto;
  overflow-y: hidden;
  .nav-tabs {
    border-bottom: none;
    flex-wrap: nowrap;
  }
  .nav-link {
    &:hover {
      border-bottom: none;
    }
    cursor: pointer;
    white-space: nowrap;
    &.settings {
      padding: .5rem .5rem;
    }
  }
  .landing-page-link {
    white-space: nowrap;
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
  }
}
