.tabs {
  max-width: fit-content;
  overflow-y: hidden;
  position: relative;
  .nav-tabs {
    display: inline-flex;
    border-bottom: none;
    flex-wrap: nowrap;
  }
  .nav-link {
    &:hover {
      border-bottom: none;
    }
    cursor: pointer;
    white-space: nowrap;
    &.settings {
      padding: 0.5rem 0.5rem;
    }
  }
  .landing-page-link {
    white-space: nowrap;
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
  }
}
// this is a direct child of body...
.modal-dialog {
  max-width: 600px;
}
