.about__loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__modal__image {
  height: 100%;
  width: 100%;
}

.about__version {
  align-self: flex-end;
  font-size: 0.8em;
}
