.query-filter {
  .query-filter-field {
    margin-bottom: .5rem;
    .btn {
      padding: 0;
      &:focus {
        box-shadow: none;
      }
      svg {
        margin-right: .25rem;
      }
    }
    .field-container {
      display: inline-flex;
      flex-direction: column;
      label {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        input {
          margin-right: .25rem;
        }
        .checkbox-label {
          margin-right: .25rem;
        }
        .swatch {
          height: 1rem;
          width: 1rem;
          margin-left: auto;
        }
      }
    }
  }
}
