$symbolWidth: 41px;

.symbol-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.simple-symbol-container {
  width: $symbolWidth;
  margin-left: 10px;
  .symbol {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.polygon-symbol-container {
  .polygon-class-container {
    margin-left: 10px;
    width: 60px;
    height: 1.5em;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    .polygon-class {
      flex: 1;
    }
  }
  svg {
    margin-left: 5px;
  }
}

.popover-legend-row {
  display: flex;
  flex-direction: row;
  .legend-swatch {
    height: 1.5em;
    width: 40px;
    margin-right: 5px;
  }
}

.line-point-symbol-container {
  .symbol {
    width: $symbolWidth;
    filter: grayscale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
}

.phase-symbol-container {
  .symbol {
    width: 60px;
    height: 1.5em;
  }
}

.dynamic-symbol-container {
  justify-content: space-between;
  display: flex;
  width: 90px;
  .symbol-container {
    width: 20px;
    .symbol {
      position: absolute;
    }
  }
}
