.symbol-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  margin-left: 10px;
  .symbol {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.polygon-class-container {
  margin-left: 10px;
  width: 60px;
  height: 1.5em;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  .polygon-class {
    flex: 1;
  }
}
