@import '../../variables.scss';

.map-lens {
  position: absolute;
  top: 91px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  z-index: 3;
}

$height: 80px;
.map-lens__sidebar {
  position: absolute;
  height: $height;
  left: 0;
  top: calc(50% - #{$height}/2);
  z-index: 1;
  background-color: $highlightColor;
  padding-left: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-right: 4px;
}

.map-lens--side-bar-open {
  left: 330px;
}

.map-lens--with-border {
  border-top: 1px solid #b5bcc7;
}
