@import '../../variables.scss';

.app__header {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  padding: 8px 0;
  .header__heading {
    color: $highlightColor;
    font-family: Montserrat, Arial, sans-serif;
    letter-spacing: 0px;
    margin-left: 8px;
  }
  .heading__tag-line {
    font-size: 11px;
    text-decoration: none;
    margin-left: 5px;
    font-style: italic;
  }
  .heading__img {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 5px;
    img {
      width: 200px;
      &.heading__img__small {
        width: 35px;
        margin-top: -5px;
        margin-right: -5px;
      }
    }
  }

  /* For all tabs */
  .nav-link {
    border: 2px solid white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  /* For non-active tabs */
  a.nav-link {
    color: dimgray;
    background-color: #e9ecef;
  }

  /* For active tabs */
  a.active.nav-link {
    color: white;
    font-weight: bold;
    background-color: #42738d;
  }
}
