@import '../../variables.scss';
$sideBarWidth: 330px;

.side-bar {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: $mainBodyTop;
  bottom: 0;
}

.side-bar__padder {
  padding: 10px;
  max-width: $sideBarWidth;
  margin: -1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.side-bar--with-border {
  border-top: 1px solid #b5bcc7;
}

.side-bar--hidden {
  visibility: hidden;
  display: none;
}
