$border: solid 1px gray;
$padding: 14px;

.details {
  font-size: 14px;
  border-bottom: $border;
  .title {
    line-height: 1.6;
    font-weight: bold;
    font-size: 14px;
    background-color: #f0f0f0;
    padding: calc($padding/2) $padding;
    border: none;
    border-bottom: $border;
    &:hover {
      background-color: white;
    }
    width: 100%;
  }
  .esri-feature__content-element {
    padding: 0;
  }
}
