.project-information {
  margin: -1.25rem;
  p {
    margin: 1.25rem;
  }
  .loader {
    margin-top: 1.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
