body,
html,
#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #444;
  .ps__rail-x {
    &:hover > .ps__thumb-x,
    &.ps--clicking .ps__thumb-x {
      height: 9px;
    }
  }
}
